In [268]:
import pandas as pd

In [270]:
data=pd.read_csv('loan_approval_dataset.csv')

In [272]:
data

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [274]:
data.shape

(4269, 13)

In [276]:
data.drop(columns=['loan_id'],inplace=True)

In [278]:
data.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [280]:
data.columns

Index([' no_of_dependents', ' education', ' self_employed', ' income_annum',
       ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [282]:
#removing the space after each column
data.columns=data.columns.str.strip()

In [284]:
data.columns

Index(['no_of_dependents', 'education', 'self_employed', 'income_annum',
       'loan_amount', 'loan_term', 'cibil_score', 'residential_assets_value',
       'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value',
       'loan_status'],
      dtype='object')

In [286]:
data['asset']=data.residential_assets_value + data.commercial_assets_value + data.luxury_assets_value +data.bank_asset_value

In [288]:
data.head(2)

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status,asset
0,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved,50700000
1,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected,17000000

In [290]:
data.drop(columns=['residential_assets_value','commercial_assets_value','luxury_assets_value','bank_asset_value'],inplace=True)

In [292]:
data.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,asset
0,2,Graduate,No,9600000,29900000,12,778,Approved,50700000
1,0,Not Graduate,Yes,4100000,12200000,8,417,Rejected,17000000
2,3,Graduate,No,9100000,29700000,20,506,Rejected,57700000
3,3,Graduate,No,8200000,30700000,8,467,Rejected,52700000
4,5,Not Graduate,Yes,9800000,24200000,20,382,Rejected,55000000

In [294]:
data.isnull().sum()

no_of_dependents    0
education           0
self_employed       0
income_annum        0
loan_amount         0
loan_term           0
cibil_score         0
loan_status         0
asset               0
dtype: int64

In [296]:
data.education.unique()

array([' Graduate', ' Not Graduate'], dtype=object)

In [298]:
data['education'] = data['education'].str.strip()

In [300]:
data.education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [302]:
data['education'] = data['education'].replace(['Graduate', 'Not Graduate'],[1, 0])

C:\Users\gunak\AppData\Local\Temp\ipykernel_13784\3309271140.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['education'] = data['education'].replace(['Graduate', 'Not Graduate'],[1, 0])

In [304]:
data.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,asset
0,2,1,No,9600000,29900000,12,778,Approved,50700000
1,0,0,Yes,4100000,12200000,8,417,Rejected,17000000
2,3,1,No,9100000,29700000,20,506,Rejected,57700000
3,3,1,No,8200000,30700000,8,467,Rejected,52700000
4,5,0,Yes,9800000,24200000,20,382,Rejected,55000000

In [306]:
data.columns = data.columns.str.strip()

In [308]:
data.self_employed.unique

<bound method Series.unique of 0         No
1        Yes
2         No
3         No
4        Yes
        ...
4264     Yes
4265     Yes
4266      No
4267      No
4268      No
Name: self_employed, Length: 4269, dtype: object>

In [310]:
data['self_employed'] = data['self_employed'].str.strip()

In [312]:
data.self_employed.unique()

array(['No', 'Yes'], dtype=object)

In [314]:
data['self_employed'] = data['self_employed'].replace(['No', 'Yes'],[1, 0])

C:\Users\gunak\AppData\Local\Temp\ipykernel_13784\763690088.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['self_employed'] = data['self_employed'].replace(['No', 'Yes'],[1, 0])

In [316]:
data

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,asset
0,2,1,1,9600000,29900000,12,778,Approved,50700000
1,0,0,0,4100000,12200000,8,417,Rejected,17000000
2,3,1,1,9100000,29700000,20,506,Rejected,57700000
3,3,1,1,8200000,30700000,8,467,Rejected,52700000
4,5,0,0,9800000,24200000,20,382,Rejected,55000000
...,...,...,...,...,...,...,...,...,...
4264,5,1,0,1000000,2300000,12,317,Rejected,7400000
4265,0,0,0,3300000,11300000,20,559,Approved,20000000
4266,2,0,1,6500000,23900000,18,457,Rejected,39000000
4267,1,0,1,4100000,12800000,8,780,Approved,28800000
4268,1,1,1,9200000,29700000,10,607,Approved,77300000

In [318]:
data.loan_status.unique()

array([' Approved', ' Rejected'], dtype=object)

In [320]:
data['loan_status'] = data['loan_status'].str.strip()

In [322]:
data.loan_status.unique()

array(['Approved', 'Rejected'], dtype=object)

In [324]:
data['loan_status'] = data['loan_status'].replace(['Approved', 'Rejected'],[1, 0])

C:\Users\gunak\AppData\Local\Temp\ipykernel_13784\3417767978.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['loan_status'] = data['loan_status'].replace(['Approved', 'Rejected'],[1, 0])

In [326]:
data.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,asset
0,2,1,1,9600000,29900000,12,778,1,50700000
1,0,0,0,4100000,12200000,8,417,0,17000000
2,3,1,1,9100000,29700000,20,506,0,57700000
3,3,1,1,8200000,30700000,8,467,0,52700000
4,5,0,0,9800000,24200000,20,382,0,55000000

In [328]:
from sklearn.model_selection import train_test_split

In [330]:
input_data=data.drop(columns=['loan_status'])
output_data=data['loan_status']

In [332]:
input_data.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,asset
0,2,1,1,9600000,29900000,12,778,50700000
1,0,0,0,4100000,12200000,8,417,17000000
2,3,1,1,9100000,29700000,20,506,57700000
3,3,1,1,8200000,30700000,8,467,52700000
4,5,0,0,9800000,24200000,20,382,55000000

In [334]:
output_data.head()

0    1
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [336]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.2)

In [338]:
x_train.shape,x_test.shape

((3415, 8), (854, 8))

In [340]:
y_train.shape,y_test.shape

((3415,), (854,))

In [342]:
from sklearn.preprocessing import StandardScaler

In [344]:
Scaler=StandardScaler()

In [350]:
x_train_scaled=Scaler.fit_transform(x_train)
x_test_scaled=Scaler.fit_transform(x_test)

In [352]:
x_train_scaled.shape

(3415, 8)

In [354]:
from sklearn.linear_model import LogisticRegression

In [356]:
model=LogisticRegression()

In [358]:
model.fit(x_train_scaled,y_train)

LogisticRegression()

In [360]:
model.score(x_test_scaled,y_test)

0.9156908665105387

In [ ]:
new_data = pd.DataFrame({
    'no_of_dependents': [2],
    'education': [1],
    'self_employed': [1],
    'income_annum': [9600000],
    'loan_amount': [29900000],
    'loan_term': [12],
    'cibil_score': [778],
    'asset': [50700000]
})

new_data

In [362]:
new_data = pd.DataFrame([[2,1,1,9600000,29900000,12,778,50700000]], columns=['no_of_dependents','education','self_employed','income_annum','loan_amount','loan_term','cibil_score','asset'])

In [364]:
new_data

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,asset
0,2,1,1,9600000,29900000,12,778,50700000

In [ ]:
pred_data

In [366]:
model.predict(new_data)

C:\Users\gunak\anaconda3\Lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array([1], dtype=int64)